html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
hr {
    border: none;
    border-bottom: 1px solid #bdbdbd;
}

#cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 1s;
}
#cover > button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#cover-text {
    color: white;
    font-size: 1.5em;
    max-width: 70%;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}

.ajs-content {
    padding: 0 !important;
}
.ajs-content > .dialog-content {
    max-height: 54vh;
    margin-right: -24px;
    overflow: auto;
    padding: 16px 16px 16px 0;
}
.ajs-content > .dialog-content p {
    text-align: justify;
    margin-bottom: 15px !important;
}

section.region {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}
section.region:first-of-type {
    border-right: 3px solid #fff;
}
section.region > h1 {
    text-align: center;
}
section.region > .map {
    height: 100%;
    width: 100%;
}
section.region > .funds {
    position: absolute;
    top: 24px;
    color: white;
    z-index: 1000;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#cascadia {
    float: left;
}
#cascadia > .funds {
    left: 64px;
}
#cascadia > .funds::before {
    content: "Budget: $";
}
#trigger {
    position: absolute;
    z-index: 1000;
    bottom: 85px;
    left: calc(50% - 107px);
    font-size: 9px;
    width: 100px;
}
#london {
    float: right;
}
#london > .funds {
    left: calc(50% + 64px);
}
#london > .funds::before {
    content: "Budget: £";
}
#toolbox {
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
}
#date {
    width: 210px;
}
#selection {
    margin: 0 -15px 0 -20px !important;
    transform: rotate(-90deg);
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}
#toolbox > .divider {
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.7);
}
#toolbox > * {
    margin-right: 10px;
}
#toolbox > *:first-child {
    margin-left: 10px;
}
#toolbox > *:last-child {
    margin-right: 0px;
}
.action {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.action > * {
    margin-bottom: 5px;
}
.action > p {
    margin-top: 5px;
    text-align: center;
}
.action > *:last-of-type {
    margin-bottom: 0;
}

.leaflet-control.info {
    font-family: "Open Sans";
    font-size: 13px;
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    border-radius: 1px;
    width: 270px;
}
.leaflet-control.info h4 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #363636;
}

/* Buttons */
.flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-family: "Open Sans";
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
  outline: none;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flat-button[disabled] {
    opacity: 0.5;
    cursor: default;
}